
.Article_title {
  color: #CCAD8F;
  font-size: 1.5rem;
}

.searchbar{
  width: 67vw;
    height: 5vh;
    border-radius: 4px;
    border: none;
    background-color: #F4F4F5;
    margin: 14vh 12vw 0vh;
}
.articles_list img {
  max-width: 100%;
    width: 50vw;
    margin-left: 22vw;
}