

.users {
    position: static;
    width: 230px;
    height: 18px;
    left: 32px;
    top: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    margin: 0px 10px;
}